
* {
    margin: 0;
    padding: 0;
}
html {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
body {
    background-image: url('realkobe.png');
    overflow-y: hidden;
    overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-position: left;
  background-position-y: top;
}

.topnav:not(.companyLogo, .companyName) {
    background-color: #0a0a0a;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(24, 23, 23);
    
}


.topnav a:not(.companyLogo, .companyName){
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-left: 1px solid rgb(24, 23, 23);
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.topnav a:hover:not(.companyLogo, .companyName) {
    background-color: #272727;
    color: White;
    
}

.topnav a.active:not(.companyLogo, .companyName) {
    background-color: #04AA6D;
    color: black;

}
h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    margin-top: 15%;
    margin-left: 17rem;
    text-shadow:
    -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 2px 0 #000,
    2px 2px 0 #000; 
    
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.topnav .current {
    background-color: rgb(0, 0, 0);
}
.blackbar{
    text-align: center;
    margin-left: auto;
    margin-top: 40rem;
    width: 100%;
    height: 500px;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: block;
}
.blackbar p{
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 7rem;
    display: block;
    text-shadow:
    -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 2px 0 #000,
    2px 2px 0 #000;
    
}
.topnav .companyLogo{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px ;
    text-decoration: none;
    font-size: 19px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    padding-left: 50px;
    
}
.topnav .companyName{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bolder;
    padding-left: 50px;

    font-family: 'Barlow Semi Condensed', sans-serif;
    
}